/* General Styles Start */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.show {
	height: 100vh;
	visibility: visible;
	opacity: 1;
	transition: all ease-in 0.5s;
}

.hide {
	height: 0;
	visibility: hidden;
	opacity: 0;
	transition: all ease-out 0.5s;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
	/* flex-basis: 50%; */
}
/* General Styles End */

/* Landingpage Styles Start */
.home {
}

.home-img {
	width: 50%;
	height: 100vh;
}

.home-img img {
	width: 90%;
	margin-top: 20%;
}

.home-text {
	height: 100vh;
	padding: 10% 10% 0;
	width: 50%;
	background-color: cadetblue;
}

.home-text h1 {
	font-size: 2.5em;
	margin: 1em 0;
}

.home-text p {
	margin: 1.5em 0;
	font-size: 1.4em;
}

.btn {
	padding: 1em 1.5em;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 4px 5px -2px #000;
}
/* Landingpage Styles End */

/* Akan Form Styles Start */
.akan {
	position: relative;
	background-color: cyan;
}

.akan-content {
	position: absolute;
	padding: 2.5em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 10px 2px #fff;
}

.akan-form .form-group {
	margin: 1em 0 0;
}

.akan-form input {
	margin: 0.7em 0;
	padding: 0.7em;
}
.akan-form label {
	font-size: 1.2em;
}
/* Akan Form Styles End */
